{
    "presets": [
        "@babel/preset-env",
        [
            "@babel/preset-react",
            {
                "runtime": "automatic"
            }
        ]
    ],
    "plugins": [
        [
            "@babel/plugin-transform-runtime",
            {
                "regenerator": true,
                "corejs": 3
            }
        ],
        [
            "module-resolver",
            {
                "root": [
                    "./src"
                ],
                "alias": {
                    "~components": "./src/library/components",
                    "~utils": "./src/library/utils",
                    "~main": "./src/main",
                    "~store": "./src/main/store",
                    "~modules": "./src/modules",
                    "~styles": "./src/resources/styles"
                }
            }
        ]
    ]
}
